<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<section class="boxes about_container">
    <div class=" about">


        <h3>Кои сме ние</h3>

        <p class="fun-about">
            За нас е удоволствие да Ви представим любимите си места за забавление на малки и пораснали деца!
        </p>
        <p class="fun-about">
            Заповядайте и разгледайте колекцията ни от местенца на открито и закрито.
        </p>
        <p class="fun-about">
            Тук ще откриете, къде бихте могли да отидете за ден, два или повече.
        </p>
        <p class="fun-about">
            Как да срещнете интересни животни или да поплувате, а защо не и двете?
        </p>
        <p class="fun-about">
            Разходете се сред природата с любимите си същества и се насладете на пътешествието!
        </p>
        <p class="thank">
            Благодарим за вниманието!
        </p>
        <div>

            <a href="/" class="fun-about"><h2>Заповядайте в основното меню...</h2></a>
        </div>

    </div>

</section>

</body>

<footer class="footer"><h6>&copy; 2023 - Ани Петкова - Всички права запазени.</h6></footer>

</html>