<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>

<main class="main">


<h2 class="text-center text-white">Всички места в категория: <span th:text="${categoryName}"></span></h2>
<section class="boxes place-in-category">
    <article th:each="place : ${placesInCategory}">
        <section class="box">
            <h3 class="text-white"  th:text="${place.name}"></h3>
            <p class="text-white" th:text="${place.description}"></p>
            <p class="text-white" th:text="${place.city}"></p>
            <p class="text-white" th:text="${place.address}"></p>
            <div style="text-align: center" class="picture-in-category">
                <img class="image-style" style="height: 100px; width: 100px" th:if="${place.picture != null}" th:src="${place.picture.url}" alt="test image">
            </div>
        </section>
    </article>

</section>

</main>

<section class="text-center section">
    <a href="/" class="to-main-menu"><h2>Заповядайте в основното меню...</h2></a>
</section>

</body>

<footer class="footer"><h6>&copy; 2023 - Ани Петкова - Всички права запазени.</h6></footer>

</html>