<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>
<p></p>
<br>
<p></p>
<br>
<h2 class="text-center text-white">Всички места в категория: <span th:text="${categoryName}"></span></h2>
<section class="boxes">
    <div th:each="place : ${placesInCategory}">
        <div class="box">
            <h3 th:text="${place.name}"></h3>
            <p th:text="${place.description}"></p>
            <p th:text="${place.city}"></p>
            <p th:text="${place.address}"></p>
            <div style="text-align: center">
                <img style="height: 200px; width: 200px" th:if="${place.picture != null}" th:src="${place.picture.url}" alt="test image">
            </div>
        </div>
    </div>

    <div class="text-center">
        <br>
        <a href="/" class="fun-about"><h2>Заповядайте в основното меню...</h2></a>
    </div>
</section>



</body>

<footer class="footer"><h6>&copy; 2023 - Ани Петкова - Всички права запазени.</h6></footer>

</html>