<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

<div id="commentsFragment" th:fragment="commentsFragment">
    <!-- Визуализация на коментарите -->
    <div th:each="comment : ${comments}">
        <p th:text="${comment.content}"></p>
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <!-- Бутон за изтриване на коментара -->
            <form th:method="delete" th:action="@{/comments/delete/{commentId}(commentId=${comment.id})}">
                <input type="submit" value="Изтрий коментар" class="btn btn-danger btn-sm"/>
            </form>
        </div>
    </div>
</div>

</body>

</html>