<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

<div id="commentsFragment" th:fragment="commentsFragment">
    <!-- Визуализация на коментарите -->
    <div th:each="comment : ${comments}">
        <p th:text="${comment.content}"></p>
    </div>
</div>

<form th:method="post" th:action="@{/comments/place/{placeId}(placeId=${place.id})}" th:object="${newCommentBindingModel}"
      class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

    <label for="comment">Коментар:</label>
    <textarea id="comment" name="content" class="font-weight-bold"></textarea>

    <button type="submit">Добави коментар</button>

</form>

</body>

</html>