<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Детайли</h2>

    <div th:object="${place}" class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="box">
            <div th:text="${place.getSummary()}" style="white-space: pre-line;"> </div>
        </div>

        <div style="text-align: center">
            <img style="height: 200px; width: 300px" th:src="${imageURL}" alt="test image">
        </div>

        <button id="loadCommentsButton" class="btn btn-info btn-lg justify-content-center" th:data-place-id="${place.id}">Зареди коментари за мястото</button>
    </div>

    <span class="nav-item text-center" sec:authorize="hasRole('ADMIN')">

        <div class="button-delete ">
            <form th:method="delete"
                  th:action="@{/place/{id}(id=*{id})}">
                <input type="submit" value="Изтрий" class="btn btn-info btn-lg justify-content-center"/>
            </form>
        </div>

    </span>

    <div class="text-center">
        <br>
        <a href="/" class="fun-about"><h2>Заповядайте в основното меню...</h2></a>
    </div>

</div>

<!-- Връзка към JS файла за извличане на коментарите (ако не е включен в details.html) -->
<script src="js/comments.js"></script>

</body>

<div class="footer"><h6>&copy; 2023 - Ани Петкова - Всички права запазени.</h6></div>

</html>