<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>
<!-- Списък с места -->
<p></p>
<br>
<p></p>
<br>
<h2 class="text-center text-white">Всички места</h2>
<section class="boxes" >

    <!-- Итерация през всички места и създаване на линк към детайлите на всяко едно -->
    <div
            th:each="place: ${places.getContent()}"
            th:object="${place}">

        <div class="box">


            <div th:text="${place.getSummary}" style="white-space: pre-line;"></div>

            <div>
                <a class="a-class" th:href="@{/place/{id}(id=${place.id})}">Допълнителна информация...</a>
            </div>
        </div>



</div>

</section>

</body>

<footer class="footer"><h6>&copy; 2023 - Ани Петкова - Всички права запазени.</h6></footer>

</html>