<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>
<div class="container">
    <h2 class="text-center text-white">Регистрация</h2>
    <form th:action="@{/register}"
           th:method="post"
          th:object="${userRegistrationBindingModel}"
           class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">Име</label>
                <input th:field="*{firstName}" th:errorclass="is-invalid"
                        id="firstName"
                        name="firstName"
                        type="text"
                        class="form-control"
                        placeholder="Име"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Името е задължително и трябва да съдържа между 2 и 20 символа.
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Фамилия</label>
                <input th:field="*{lastName}" th:errorclass="is-invalid"id="lastName"  name="lastName"
                       type="text"
                       class="form-control"
                       placeholder="Фамилия"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Фамилията е задължителна и трябва да съдържа между 2 и 20 символа.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-white font-weight-bold">Електронна поща</label>
                <input th:field="*{email}" th:errorclass="is-invalid" id="email"  name="email"
                       type="text"
                       class="form-control"
                       placeholder="Електронна поща"/>
                <p class="invalid-feedback errors alert alert-danger">
                   Моля, въведете коректно електронната си поща.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Потребителско име</label>
                <input th:field="*{username}" th:errorclass="is-invalid" id="username"  name="username"
                       type="text"
                       class="form-control"
                       placeholder="Потребителско име"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Потребителското име е задължително и трябва да съдържа минимум 2 символа.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Парола</label>
                <input th:field="*{password}" th:errorclass="is-invalid" id="password"  name="password"

                       type="password"
                       class="form-control"
                       placeholder="Парола"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Паролата е задължителна и трябва да съдържа поне 5 символа.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="text-white font-weight-bold">Потвърдете паролата</label>
            <input th:field="*{confirmPassword}" th:errorclass="is-invalid"
                    id="confirmPassword"  name="confirmPassword"

                    type="password"
                    class="form-control"
                    placeholder="Потвърдете паролата"
            />
            <p class="invalid-feedback errors alert alert-danger">
                Паролите трябва да съвпадат.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Регистрация"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

<div class="footer"><h6>&copy; 2023 - Ани Петкова - Всички права запазени.</h6></div>

</html>